<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>index</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color: #FFFFFF;
			margin:0;
			height:100%;
		}
	</style>

	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, width=device-width" />
	<script type="text/javascript" src="static/js/index.hyperesources/jquery-2.1.4.min.js"></script>



 
 	
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
  		<script  type="text/javascript ">
  		
  			var loc_next = 102;
    		var loc_now = loc_next;
    		var step;
  		
       </script> 
 	
 	
 	
	<!-- end copy -->

  </head>
  <body>
	<input type="text" style="display: none" value="{{u_id}}" name="u_id" id="u_id">	
	<!-- copy these lines to your document: -->

	<div id="index_hype_container" style="margin:auto;position:relative;width:320px;height:100%;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="static/js/index.hyperesources/index_hype_generated_script.js?19580"></script>
	</div>

	<!-- end copy -->


	


	<!-- text content for search engines: -->

	<div style="display:none">

		<div></div>
		<div>您好，欢迎光临良品铺子！

</div>
		<div>23029380
</div>
		<div>
</div>
		<div>
排名头像姓名金币
1 Lucy 99999999 
2 Lucy 99999999 
3 Lucy 99999999 
4 Lucy 99999999 
5 Lucy 99999999 
6 Lucy 99999999 
7 Lucy 99999999 
8 Lucy 99999999 
9 Lucy 99999999 
10 Lucy 99999999 
11 Lucy 99999999 
12 Lucy 99999999 
13 Lucy 99999999 
14 Lucy 99999999 
15 Lucy 99999999 
16 Lucy 99999999 
17 Lucy 99999999 
18 Lucy 99999999 
19 Lucy 99999999 
20 Lucy 99999999 
</div>
		<div>
排名头像姓名金币
colin 10000000 1 
colin 99 2 
colin 98 3 
colin 97 4 
colin 96 5 
colin 95 6 
colin 94 7 
colin 93 8 
colin 93 9 
colin 93 10 
colin 93 11 
colin 93 12 
colin 93 13 
colin 93 14 
colin 93 15 
colin 93 16 
colin 93 17 
colin 93 18 
colin 93 19 
</div>
		<div>
排名头像姓名金币
colin 10000000 1 
colin 99 2 
colin 98 3 
colin 97 4 
colin 96 5 
colin 95 6 
colin 94 7 
colin 93 8 
colin 93 9 
colin 93 10 
colin 93 11 
colin 93 12 
colin 93 13 
colin 93 14 
colin 93 15 
colin 93 16 
colin 93 17 
colin 93 18 
colin 93 19 
</div>
		<div>
排名头像姓名金币
1 Lucy 99999999 
2 Lucy 99999999 
3 Lucy 99999999 
4 Lucy 99999999 
5 Lucy 99999999 
6 Lucy 99999999 
7 Lucy 99999999 
8 Lucy 99999999 
9 Lucy 99999999 
10 Lucy 99999999 
11 Lucy 99999999 
12 Lucy 99999999 
13 Lucy 99999999 
14 Lucy 99999999 
15 Lucy 99999999 
16 Lucy 99999999 
17 Lucy 99999999 
18 Lucy 99999999 
19 Lucy 99999999 
20 Lucy 99999999 
</div>
		<div>
排名头像姓名金币
1 Lucy 99999999 
2 Lucy 99999999 
3 Lucy 99999999 
4 Lucy 99999999 
5 Lucy 99999999 
6 Lucy 99999999 
7 Lucy 99999999 
8 Lucy 99999999 
9 Lucy 99999999 
10 Lucy 99999999 
11 Lucy 99999999 
12 Lucy 99999999 
13 Lucy 99999999 
14 Lucy 99999999 
15 Lucy 99999999 
16 Lucy 99999999 
17 Lucy 99999999 
18 Lucy 99999999 
19 Lucy 99999999 
20 Lucy 99999999 
</div>
		<div>
排名头像姓名金币
colin 10000000 1 
colin 99 2 
colin 98 3 
colin 97 4 
colin 96 5 
colin 95 6 
colin 94 7 
colin 93 8 
colin 93 9 
colin 93 10 
colin 93 11 
colin 93 12 
colin 93 13 
colin 93 14 
colin 93 15 
colin 93 16 
colin 93 17 
colin 93 18 
colin 93 19 
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
